window {
    border-radius: 32px;
    padding: 32px 32px 16px;
}

entry.search-entry {
    border-radius: 9999px;
}

button.toggle:not(:hover):not(:active):not(:focus):not(:checked) {
    background-color: transparent;
}

gridview.app-grid child {
    padding: 16px;
    border-radius: 16px;
}

button.toggle {
    border-radius: 16px;
    padding: 8px 16px;
}

button.toggle:checked box * {
    color: @accent_color;
}

label {
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
}

