[Desktop Entry]
Name=Applications
Name[pl]=Aplikacje
Name[hu]=Alkalmazások
Name[pt_BR]=Aplicativos
Comment=COSMIC App Library shell application
Comment[pl]=Aplikacja powłoki Biblioteka aplikacji COSMIC
Comment[hu]=A COSMIC alkalmazáskönyvtár felületalkalmazása
Comment[pt_BR]=Biblioteca de aplicativos
Type=Application
Exec=cosmic-app-library
Terminal=false
Categories=COSMIC;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=COSMIC;ICED;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.system76.CosmicAppLibrary
StartupNotify=true
NoDisplay=true
